<!-- formdata/templates/formdata/confirmation.html-->


{% extends 'mini_fb/base.html' %}
{% load static %}
{% block content %}
<h1>{{ profile.FirstName }} {{ profile.LastName }}</h1>
    
    <!-- Display Profile Information -->
    <p><strong>City:</strong> {{ profile.City }}</p>
    <p><strong>Email:</strong> {{ profile.Email }}</p>
    <p>Profile Image:<img src="{% static 'images/' %}{{ profile.ProfileImage }}" alt="{{ a.FirstName }} {{ a.LastName }}'s Profile Image"></p>

    <!-- Display Friends -->
    <h2>Friends:</h2>
    <ul>
        {% for friend in friends %}
            <li><a href="{% url 'profile_detail' friend.pk %}">{{ friend.FirstName }} {{ friend.LastName }}</a></li>
        {% empty %}
            <li>No friends found.</li>
        {% endfor %}
    </ul>

    <!-- Display Status Messages -->
    <h2>Status Messages:</h2>
    {% if profile.status_messages %}
        <ul>
            {% for status in profile.status_messages %}
                <li>{{ status.TimeStamp }}: {{ status.Message }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No status messages found.</p>
    {% endif %}

    <!-- Other profile details here -->
    
    <!-- Link to Friend Suggestions -->
    <a href="{% url 'friend_suggestions'  %}" class="btn btn-primary">View Friend Suggestions</a>
    <a href="{% url 'news_feed'  %}" class="btn btn-primary">View News Feed</a>

{% endblock %}